@import "tailwindcss";

@theme {
  --color-gold-50: #fffdf0;
  --color-gold-100: #fff9d1;
  --color-gold-200: #fff1a3;
  --color-gold-300: #ffe169;
  --color-gold-400: #ffd130;
  --color-gold-500: #ffc107;
  --color-gold-600: #e6a100;
  --color-gold-700: #bf7d00;
  --color-gold-800: #996100;
  --color-gold-900: #7d5000;
  --color-gold-950: #4a2c00;
}
